
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can create and read their own user document
    match /users/{userId} {
      allow read, create: if request.auth.uid == userId;
    }
    // Users can only read/write their own data in their user document subcollections.
    match /users/{userId}/{collection}/{docId} {
      allow read, write, delete: if request.auth.uid == userId;
    }
  }
}
